	$white:            #ffffff;
	$pink:             #FF108C;
	$dark:             #202020;
	$lgray:            #F2F2F2;
	$error:            #FF3434;
	$error-light:      #FFE0E0;
	$gray-border:      #f6f8fa;
	$button-border:    #E5E5E5;
	$success:          #DFFFE4;
	$orange:           #FFCC00;
	$lgreen:           #00FFBA;