$icon-family-size: (
	 null:          22px,
	 large:         22px,
	 medium:        20px,
	 small:         19px,
	 xsmall:        18px
);	

$icon-family: (
	size: (
		 null:          90%,
		 large:         90%,
		 medium:        100%,
		 small:         19px,
		 xsmall:        18px
	),
	pos: (
		 null:          90%,
		 large:         90%,
		 medium:        100%,
		 small:         100%,
		 xsmall:        100%
	)
);