@mixin font-face($font-family, $font-file, $font-weight) {
	@font-face {
		font-family: $font-family;
		src: url($path-fonts + $font-file) format('truetype');
		font-weight: $font-weight;
	}
}

@include font-face($font-family-type-extra-thin,     'Montserrat/Montserrat-ExtraLight.ttf', $font-extra-thin);
@include font-face($font-family-type-thin,           'Montserrat/Montserrat-Thin.ttf',       $font-thin);
@include font-face($font-family-type-light,          'Montserrat/Montserrat-Light.ttf',      $font-light);
@include font-face($font-family-type-regular,        'Montserrat/Montserrat-Regular.ttf',    $font-regular);
@include font-face($font-family-type-medium,         'Montserrat/Montserrat-Medium.ttf',     $font-medium);
@include font-face($font-family-type-bold,           'Montserrat/Montserrat-Bold.ttf',       $font-bold);
@include font-face($font-family-type-black,          'Montserrat/Montserrat-Black.ttf',      $font-black);

@mixin Montserrat-Extra-Thin   {  font-family: $montserrat-extra-thin;   font-weight: $font-extra-thin; }
@mixin Montserrat-Thin         {  font-family: $montserrat-thin;         font-weight: $font-thin;       }
@mixin Montserrat-Light        {  font-family: $montserrat-light;        font-weight: $font-light;      }
@mixin Montserrat-Regular      {  font-family: $montserrat-regular;      font-weight: $font-regular;    }
@mixin Montserrat-Medium       {  font-family: $montserrat-medium;       font-weight: $font-medium;     }
@mixin Montserrat-Bold         {  font-family: $montserrat-bold;         font-weight: $font-bold;       }
@mixin Montserrat-Black        {  font-family: $montserrat-black;        font-weight: $font-black;      }