.contact-form {
	@include container(100%, block);
	background: $cream;

	h1 {
		 padding-top:90px;
		 padding-bottom:50px;
		 text-align: center;
	}
	
	.contact-main {
		padding-bottom:150px;
		@include container(70%, flex);
		@include screen(medium) {
			flex-flow:column wrap;
		}
		@include screen(small) {
			width:100%;
			padding-bottom:0;
		}		
	}

	
	.contact-main > .contact-left {
		 width:70%;
		 background: $white;
		 padding:90px;
		 @include screen(medium) {
		 	width:100%;
		 	padding:50px;
		 	@include mcenter;
		 }
		 @include screen(xsmall) {		 
		    padding:30px;	
		    background: $cream; 	
		 }
	}
	
	.contact-main > .contact-left .input-field-wrap {
		float:left;
		&:nth-child(2), &:first-child {
			width:50%;	
			@include screen(small) { width: 100%; }	
		}
		&:nth-child(3), &:nth-child(4) {
			width:100%;
		}
		&:nth-child(4) {
			textarea { 
				height: 220px; 
				resize:none;
			}
		}
	}

	.contact-main > .contact-left .input-field-wrap label {
		display: block;
		margin-bottom:9px;
		text-indent: 1px;	
	}	

	.contact-main > .contact-left .input-field-wrap .checkbox-wrap {
		display: flex;
	}

	.contact-main > .contact-left .input-field-wrap .checkbox-wrap .checkbox,
	.contact-main > .contact-left .input-field-wrap .checkbox-wrap .checkbox-active {
        @include size(32px, 32px);
    	display: inline-block;
    	margin-bottom:10px;
    	&:active, &:focus {
			border:1px solid $mainblue;
    	}			
	}

	.contact-main > .contact-left .input-field-wrap .checkbox-wrap .checkbox-active {
    	@include get-icon('icon-correct.png');
    	@include icon-modify(75%, 50%);
        border-radius: 8px;
    	border:1px solid $mainblue;	
	}

	.contact-main > .contact-left .input-field-wrap .checkbox-wrap .checkbox-text {
	    text-indent: 15px;
	    margin-top:6px;
	    white-space: nowrap;
	}

	.contact-main > .contact-left .input-field-wrap input[type='text'],
	.contact-main > .contact-left .input-field-wrap .checkbox-wrap .checkbox,
	.contact-main > .contact-left .input-field-wrap textarea {
		@include input-contact;
	}

	
	.contact-main > .contact-left .input-field-wrap input[type='text'], 
	.contact-main > .contact-left .input-field-wrap textarea {
		@include size(calc(100% - 20px), 42px);
		margin-bottom:30px; 
		padding:15px;
		transition:0.5s ease-out;
		&:focus, &:active {
			border:1px solid $mainblue;
			outline:0;
		}
	}

	.contact-main > .contact-left .button-wrap {
		display: inline-block;
	    text-align: center;
	    margin-top:20px;
	}	

	.contact-moreinfo {
		 width:30%;
		 height: auto;
		 background: $mainblue;
		 @include screen(medium) {
		 	@include size(100%, 550px);
		 }
	}

	.contact-moreinfo > .moreinfo-text-wrap,
	.contact-moreinfo > .john {
		 @include mcenter;
         display: block;
         width:80%;   
         * {
         	margin:0;
          	text-align: center;     	
         }
	}
	.contact-moreinfo > .moreinfo-text-wrap {
         @include mcenter;
         margin-bottom:30px;
         p {
         	margin-top:-30px;
         }
	}

	.contact-moreinfo > .john {
		 @include flex-center;
	 	 flex-flow: column wrap;
	     border-radius: 10px;
	     background: $white;
	     height: 250px;
	}

	.contact-moreinfo >  .john > img {
         @include next-el-distance(20px, 20px);
	}

}