.checkbox-delete {
	display: inline-block;
	@include size(20px, 20px);
	.checkbox {
		display: inline-block;
		@include size(18px, 18px);
		background: $pink;
		cursor: pointer;
		transition:0.3s ease-in-out;
		margin-right:5px;
	}

	.checkbox-innactive {
		display: inherit;	
	    background: lighten($pink, 30%);
	}
}

.checkbox-wrap {

	display: block;
	margin-top:5px;

	.checkbox-pink {
		display: inline-block;
		@include size(18px, 18px);
		cursor: pointer;
		margin-right:5px;
		border:1px solid #8A8A8A;
		padding:7px;
	}

	.checkbox-active {
	    @include get-icon('checked.png');
	    @include icon-modify(65%, 50%);	
	    display: inline-block;
	}

	span {
		position: relative;
		top:-4px;
	}
}

.checkbox-variant {
	@include size(17px, 17px);
	display: block;
	background: #DCDCDC;
	border: 1px solid $gray-border;
	position: relative;
	cursor: pointer;
	top:-2px;
	&:hover {
		background: #E1E1E1;		
	}
}

.correct-this-shit .checkbox-variant-checked {
    left:3px;
    top:3px;
}	

.checkbox-variant-checked {
	position: absolute;
	display: block;
    @include size(9px, 9px);
    background: #474747;
    left:-2px;
    top:-6px;
}	