.error-field {
	display: none;
	background: $error-light;
    @include generic-container;
    padding:15px;
    border-radius: 2px;
    p, h3 {
    	margin:4px;
    }
    span {
        position: absolute;
        top:5px;
        right:5px;
    }
}