.search-layer {
	display: hidden;
	position: fixed;
    background: #F0F0F0;
    width:100%;
    height: 100%;
    opacity: 0.98;
    text-align: center;	
    z-index: 5555;

    .close {
	    position: absolute;
	    right:50%;
	    top:7%;
	    font-size: 25px;
	    color:#202020;
	    cursor: pointer;
	    &:hover {
		     color:#FF108C;  
	    }
    }

    input {
	    margin-top:150px;
	    width:60%;
	    height: 150px;
	    border:0;
	    padding:20px;
	    font-family: 'Quicksand', sans-serif;
	    font-weight: 100;    
	    color:#FF108C;
	    background:#FFFFFF;  
        @include Montserrat-Light;	    
        letter-spacing: 1.5px;  
        @include screen(small) { width:80%; }	
    }

    input::placeholder {
	    color:#000000;
	    text-align: center;  
	    @include Montserrat-Thin;	
    }    

    .search-results {
    	width:60%;
    	@include mcenter;
    	margin-top:80px;
    }

}