$text-welcome-title: (
	 null:          60px,
	 large:         55px,
	 medium:        45px,
	 small:         39px,
	 xsmall:        35px
);

$text-welcome-title: (
	 null:          60px,
	 large:         55px,
	 medium:        45px,
	 small:         39px,
	 xsmall:        35px
);

$text-welcome-desc: (
	 null:          22px,
	 large:         22px,
	 medium:        18px,
	 small:         19px,
	 xsmall:        18px
);	

$text-ham-top: (
	 null:          16px,
	 medium:        17px,
	 small:         15px,
	 xsmall:        12px
);	

$text-ham-btm: (
	 null:          22px,		
	 large:         22px,
	 medium:        21px,
	 small:         17px,
	 xsmall:        18px
);

$text-icon-desc: (
	 null:          16px,
	 large:         16px,
	 medium:        15px,
	 small:         15px,
	 xsmall:        14px
);	

$text-pill-header: (
	 null:          40px,		
	 large:         50px,
	 medium:        47px,
	 small:         44px,
	 xsmall:        35px
);

$text-terms: (
	 null:          15px,		
	 large:         15px,
	 medium:        15px,
	 small:         16px,
	 xsmall:        15px
);

$text-link-btm: (
	 null:          14px,		
	 large:         14px,
	 medium:        14px,
	 small:         14px,
	 xsmall:        13px
);

$text-offer-price: (
	 null:          65px,		
	 large:         60px,
	 medium:        55px,
	 small:         44px,
	 xsmall:        35px
);    

$text-offer-desc: (
	 null:          19px,		
	 large:         15px,
	 medium:        19px,
	 small:         16px,
	 xsmall:        16px
);   

$text-per-month: (
	 null:          18px,		
	 large:         18px,
	 medium:        18px,
	 small:         16px,
	 xsmall:        16px
);   

$text-offer-line: (
	 null:          15px,		
	 large:         15px,
	 medium:        15px,
	 small:         15px,
	 xsmall:        14px,
	 xxsmall:       13px	 
);   

$text-best-val: (
	 null:          14px,		
	 large:         14px,
	 medium:        14px,
	 small:         13px,
	 xsmall:        13px,
	 xxsmall:       13px	 
);   

$text-harmonica: (
	 null:          15px,		
	 large:         15px,
	 medium:        14px,
	 small:         13px,
	 xsmall:        13px,
	 xxsmall:       13px	 
); 

$text-xl: (
	 null:          50px,		
	 large:         50px,
	 medium:        47px,
	 small:         44px,
	 xsmall:        41px
);

$text-md: (
	 null:          30px,
	 large:         30px,
	 medium:        27px,
	 small:         23px,
	 xsmall:        21px
);

$text-pills: (
	 null:          26px,
	 large:         26px,
	 medium:        24px,
	 small:         22px,
	 xsmall:        16px
);	

$text-offer-header: (
	 null:          19px,		
	 large:         19px,
	 medium:        19px,
	 small:         20px,
	 xsmall:        15px
);

$text-header-desc: (
	 null:          22px,		
	 large:         22px,
	 medium:        20px,
	 small:         18px,
	 xsmall:        18px
);

$text-userstory: (
	 null:          21px,		
	 large:         21px,
	 medium:        18px,
	 small:         16px,
	 xsmall:        14px
);

$text-userstory-desc: (
	 null:          45px,		
	 large:         45px,
	 medium:        30px,
	 small:         30px,
	 xsmall:        20px
);

$text-button: (
	 null:          14px,		
	 large:         14px,
	 medium:        14px,
	 small:         14px,
	 xsmall:        14px
);

// everything
$text-base: (
	 null:          18px,		
	 large:         18px,
	 medium:        17px,
	 small:         16px,
	 xsmall:        15px
);

// Footer links, button text, john johnson email
$text-sm: (
	 null:          16px,		
	 large:         14px,
	 medium:        14px,
	 small:         15px,
	 xsmall:        15px
);

// Login buttons text, verytop links, verybottom footer
$text-xs: (
	null:           13px,		
	large:          13px,
	medium:         13px,
	small:          12px,
	xsmall:         12px
);

// Default line height
$line-height:       1.2 !default;