.index-posts-container {
    @include next-el-distance(100px, 100px);
    @include generic-container;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    @include screen(small) { flex-flow:column wrap; }    

}

    .post {
        border-radius: 3px;
        background: #00FFBA;
        position: relative;
        width:45%;
        border-top: 1px solid $dark;        
        @include next-el-distance(0, 110px);  
        @include screen(small) { 
            width:100%; 
            @include next-el-distance(0, 50px);           
        }         
        transition:0.3s ease;
        cursor: pointer;
        overflow: visible;
        line-break: auto;
        padding:8px;
        box-shadow: 2px 4px 19px -4px rgba(186,186,186,0.4);
        h1,p {
            margin:7px 0;
        }

        .date {
            position: absolute;
            bottom:-25px;
            right:0;
        }

        &:hover {
            background: #FFCC00;
            border-top: 10px solid $pink;
            padding:9px;
        }
    }

    .post-full {
        width:100%;
    }