	$white:            #ffffff;
	$cream:            #f3f3f3;
	$lgray:            #f6f6f6;
	$lgray2:           #f7f7f7;
	$border-pills:     #ededed;
	$border-gray:      #d9d9d9;
	$pill-innactive:   #ededed;
	$pill-inn-border:  #e8e8e8;
	$pill-inn-text:    #a5a8af;
	$fullline:         #F3F3F3;

	$mainblue:         #0050ff;	
	$darkblue:         #081f3f;
	$burger-line:      #213653;
	$hoverblue-reg:    #e6eeff;
	$hoverblue-log:    #0040cc;
	$hover-userstory:  #e6eeff;
	$link-innactive:   #8f9ab0;
	$terms:            #878787;

	$green:            #2dc27a;	
	$green-hover:      lighten($green, 20%);

	$bordercolor:      #eaeaea;
	$bestvalue:        #ffb305;
	$bestvalue-shad:   #d79600;
	$shadow:           0px 0px 57px 0px rgba(0, 0, 0, 0.2);