$font-family:                 'Museo-Sans', sans-serif;

$font-family-type-thin:       'Museo-Sans-Thin';
$font-family-type-light:      'Museo-Sans-Light';
$font-family-type-normal:     'Museo-Sans-Normal';
$font-family-type-bold:       'Museo-Sans-Bold';
$font-family-type-black:      'Museo-Sans-Black';

$museo-thin:                  $font-family-type-thin,   sans-serif;
$museo-light:                 $font-family-type-light,  sans-serif;
$museo-normal:                $font-family-type-normal, sans-serif;
$museo-bold:                  $font-family-type-bold,   sans-serif;
$museo-black:                 $font-family-type-black,  sans-serif;

$font-thin:                   100;
$font-light:                  300;
$font-normal:                 500;
$font-bold:                   700;
$font-black:                  900;